<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    <div class="main-content">
      {{> header }}

      <section class="about-section">
        <div class="container">
          <div class="profile">
            <img src="/img/me.jpg" alt="Foto Pengembang" class="profile-img">
            <div class="profile-info">
              <h1 class="name">M. Ilham</h1>
              <h2 class="role">Programmer • Web Developer • C++ Enthusiast • Tech Explorer</h2>
              <p class="bio">
                Seorang mahasiswa Informatika dari Indonesia yang telah mendalami dunia pemrograman selama bertahun tahun.
                Dengan pengalaman selama 6 tahun di C++, 9 tahun di modifikasi game Naruto Senki berbasis XML, 4 tahun di Web Development, dan 1 tahun di Compiler System.
                Ketertarikan saya berawal sejak SD ketika mengutak-atik Plants vs Zombies, lalu berlanjut pada 2017 dengan memodifikasi 
                game Naruto Senki berbasis XML.
              </p><br>
              <p class="bio">
                Tahun 2019 saya mulai mendalami sisi teknis dengan membuat shader Minecraft menggunakan C++. 
                Sejak 2022 saya fokus mempelajari C++, diikuti pengembangan web dengan React dan Express.js pada 2023, 
                serta Assembly x86_16 dan Python pada 2024.
              </p><br>
              <p class="bio">
                Pada 2025, saya menggabungkan semua pengalaman tersebut dengan membuat compiler berbasis JavaScript yang mengonversi 
                bahasa buatan saya sendiri, aiko js, menjadi NASM x86_32 assembly. 
                Saya juga tengah mengembangkan versi serupa berbasis LLVM untuk fokus pada bidang spesifik di masa depan.
              </p>
            </div>
          </div>

          <div class="info-cards">
            <div class="card">
              <h3>Keahlian</h3>
              <ul>
                <li>C++</li>
                <li>NASM X86_32</li>
                <li>Web Dev</li>
                <li>Game Dev</li>
              </ul>
            </div>
            <div class="card">
              <h3>Kontak</h3>
              <ul>
                <li>Email: <a href="mailto:m.ilhamcoc70@gmail.com">m.ilhamcoc70@gmail.com</a></li>
                <li>GitHub: <a href="https://github.com/hammPa">github.com/hammPa</a></li>
                <li>GitHub: <a href="https://www.instagram.com/hammPa._">hammPa</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{> footer }}
  </body>
</html>
